body {
  background-color: lightgray;
}

.app {
  text-align: center;
}

.box {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 300px;
  border-radius: 10px;
}

button {
  background-color: blue;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: darkblue;
}

